from tkinter import *

window=Tk()
window.geometry("350x350")
txt1=Label(window)
txt1.config(text="Welcome to Protein Powder Fitness Club",fg="Purple",font="Ariel 12 bold")
txt1.place(x=25,y=50)
txt2=Label(window)
txt2.config(text="Enter your age,please:",fg="Purple",font="Ariel 10 bold")
txt2.place(x=50,y=120)
txt3=Label(window)
txt3.config(text="*****",fg="Green",font="Arial 16 bold")
txt3.place(x=150,y=75)

entrance=Entry(font="Arial 14 bold")
entrance.place(x=50,y=150)

num=0

def muhakeme():
    global num
    num=float(entrance.get())

    if num>=18:
        allowed = Label(window)
        allowed.config(text="Welcome again,have fun! :)", fg="Purple", font="Arial 13 bold")
        allowed.place(x=50,y=250)
        entrance.delete(0,"end")
        return allowed
    elif num<18:
        noallowed=Label(window)
        noallowed.config(text="We're sorry ,you're too young to join us.:(",fg="Purple",font="Arial 10 bold")
        noallowed.place(x=50,y=250)
        entrance.delete(0,"end")
        return noallowed
    allowed.delete(0,"end")
    noallowed.delete(0,"end")



equality=Button(text="Click",fg="Green",font="Verdana 12 bold",command=muhakeme)
equality.place(x=150,y=180)

window.mainloop()
